*{
  box-sizing: inherit;
}
html,body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}
.body{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.wrapper{
  width: 800px;
  box-shadow: 0 0 10px rgb(0, 225, 255);
  padding: 20px;
  border-radius: 6px;
  position: relative;
  background-color: rgb(245, 244, 244);
}
.title{
  position: absolute;
  font-size: 26px;
  top: -26px;
  left: 50%;
  transform: translateX(-50%);
  border: 2px dotted blue;
  color: blue;
  padding: 10px ;
  background-color: rgb(205, 250, 188);
  border-radius: 12px;
  font-weight: bold;
}

.time-body{
  display: flex;
  justify-content: center;
  margin: 40px 20px;
  font-size: 160px;
  font-weight: 800;
  color: rgb(102, 6, 6);
}
.time{
  width: 200px;
  text-align: center;
}
.time-body span{
  margin: 0 20px;
}
.day-body{
  display: flex;
  justify-content: flex-end;
}
.item{
  font-size: 20px;
  margin-left: 20px;
  border: 1px dashed;
  padding: 4px 10px;
  min-width: 90px;
  text-align: center;
  border-radius: 6px;
}
.i-title{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: blueviolet;
}
.item div:nth-child(2){
  color: rgb(235, 89, 4);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}