:root {
    --white-color: #fff;
    --width: 1200px;
    --header-height:130px;
    --primary:#fb5533;
    --bg-color:#f5f5f5;
    --text-color: #333;
}

* {
    box-sizing: inherit;
}

html {
    margin: 0;
    padding: 0;
    line-height: 1.6rem;
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.app{
    width: 100%;
}

@media (max-width:1200px){
    :root{
        --width:100%;
    }
}

.hidden{
    display: block;
}
.toast{
    top: -100%;
    right: 50%;
    transform: translateX(50%);
    position: fixed;
    /* border: 1px solid green; */
    font-size: 28px;
    padding: 16px 30px;
    border-radius: 6px;
    background-color: greenyellow;
    color: red;
    box-shadow: 1px 1px 2px greenyellow;
    animation: slideInLeft ease .3s, fadeOut linear 2s 3s forwards;
    z-index: 1;
  }
  @keyframes slideInLeft {
    from {
      opacity: 0;
      /* transform: translateX(calc(100% + 32px)); */
      transform: translateY(-100%);
    }
    to {
      opacity: 1;
      transform: translateY(110%);
    }
  }
  @keyframes fadeOut {
    to {
        opacity: 0;
    }
  }